@model IEnumerable<HospitalManagementSystem.Models.Doctor>

<div class="row" />
<div class="text-center text-w">
    <div class="text-right">
        <form class="d-inline">
            <div class="form-row justify-content-end">
                <div class="col-auto">
                    <input class="form-control" name="search" placeholder="Search" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        @foreach (var doctor in Model)
        {
            <div class="col-lg-10 col-md-8">
                <div class="row p-2">
                    <div class="col-12  p-1" style="border:1px solid #008cba; border-radius: 5px;">
                        <div class="card" style="border:0px;" >
                            <img src="@doctor.ImageUrl" height="400px" width="600px" class="card-img-top rounded" />
                            <div class="pl-1">
                                <p class="card-title h5"><b style="color:#2c3e50">@doctor.Name</b></p>

                            </div>
                        </div>

                        <a asp-action="Index" asp-controller="Booking" asp-area="Patient" class="btn btn-success btn-square btn-lg form-control"
                           style="height:50px;">
                            Book Appointment
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/doctor.js"></script>
}




